* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #ffff;
  font-size: 12px;
  line-height: 20px;
  color: black;
  padding: 0 20px;
}

section {
  position: relative;
  width: 65%;
  height: 60%;
  padding: 20px 50px;
  background: white;
  border-radius: 10px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;

  td,
  th {

    padding: 20px;

  }

  th {
    font-weight: 600;
    font-size: larger;
  }



}